*
!bin/

!src/
!src/*

!include/
!include/*

!plotFormats/
!plotFormats/*

!plots/

!plotScripts/
!plotScripts/*

!textOutput/

!utilityScripts/
!utilityScripts/*

!prettyPrint/
!prettyPrint/*

!*.sh
!*.txt
!README
!Makefile

experiment.txt
